<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <p class="text-center">&copy; {{ "now"|date("Y", timezone="America/Sao_Paulo") }} portabilis.me</p>
    </div>
</footer>