{% extends "base.html.twig" %}

{% block title %}Cadastro{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Quero me cadastrar</h2>

                {{ form(signupForm) }}
            </div>
            <div class="col-md-6">
                <h2>Já possuo cadastro</h2>

                {{ form(loginForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/jQuery-Mask-Plugin/dist/jquery.mask.min.js') }}"></script>
<script>
$(document).ready(function(){
  $('.cpf').mask('000.000.000-00', {reverse: true});
  $('.cnpj').mask('00.000.000/0000-00', {reverse: true});
  $('.rg').mask('99.999.999-9', {reverse: true});
  
  var SPMaskBehavior = function (val) {
    return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
  },
  spOptions = {
    onKeyPress: function(val, e, field, options) {
        field.mask(SPMaskBehavior.apply({}, arguments), options);
      }
  };

  $('.sp_celphones').mask(SPMaskBehavior, spOptions);
});
</script>
{% endblock %}